/* -*- mode:css -*- */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

/* -*- mode:css -*- */
#content-header {
  background: #222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(top, #444444, #222222);
  border-bottom: solid 1px #333;
  box-shadow: 0px 3px 5px #222;
  color: #ddd;
  font-size: 1.4em;
  height: 50px;
  line-height: 50px;
  position: relative;
  z-index: 40; }

#content-header #remotestorage-connect {
  position: absolute;
  top: 8px; }

#info {
  color: #ffc;
  font-size: 0.7em;
  font-weight: bold;
  left: 30%;
  position: absolute;
  top: 15px; }

#content-header nav button {
  background: inherit;
  border-color: #ddd;
  border-style: none solid;
  border-width: 1px;
  color: #ddd;
  display: block;
  font-size: 0.8em;
  float: left;
  line-height: 50px;
  margin: 0;
  padding: 0 30px; }
  #content-header nav button:first-child {
    border-left: none; }
  #content-header nav button:last-child {
    border-right: none; }
  #content-header nav button:hover, #content-header nav button.active {
    border-color: white;
    color: white; }
  #content-header nav button.active {
    font-weight: bold; }

/* -*- mode:css -*- */
#contact-list {
  background: #ddd;
  box-shadow: 0px 0px 4px 2px black;
  color: #777;
  margin-top: -10px;
  padding-top: 20px;
  position: relative;
  width: 30%;
  z-index: 30; }
  #contact-list header {
    margin-bottom: 10px;
    text-align: center; }
    #contact-list header .search input[type="text"] {
      background-image: url(../img/search-icon.png);
      background-repeat: no-repeat;
      background-position: 8px 8px;
      border: solid 1px black;
      border-radius: 10px;
      font-size: 1.1em;
      line-height: 22px;
      outline: none;
      padding: 5px 10px 5px 30px;
      width: 60%; }
    #contact-list header .search input[type="submit"] {
      display: none; }
  #contact-list .placeholder {
    font-style: italic;
    padding: 10px;
    text-align: center; }
    #contact-list .placeholder a {
      color: #333;
      text-decoration: underline; }
  #contact-list .row {
    border-top: solid 1px white;
    border-bottom: solid 1px #999;
    line-height: 45px;
    padding: 5px 0 5px 20px; }
    #contact-list .row:first-child {
      border-top: none; }
    #contact-list .row:last-child {
      border-bottom: none; }
    #contact-list .row.active {
      font-weight: bold; }
    #contact-list .row .icon {
      background: white;
      border: solid 1px #333;
      float: left;
      height: 32px;
      margin-right: 8px;
      padding: 3px;
      vertical-align: middle;
      width: 32px; }
    #contact-list .row a {
      clear: none;
      display: block; }
    #contact-list .row a:hover, #contact-list .row.active a {
      color: #333; }

/* -*- mode:css -*- */
#contact {
  background: white;
  left: 30%;
  padding-left: 20px;
  padding-top: 20px;
  position: absolute;
  top: 55px;
  width: 70%; }
  #contact .title {
    font-size: 1.3em;
    margin-bottom: 20px; }
  #contact .picture {
    background: white;
    border: solid 1px #333;
    float: left;
    padding: 5px; }
  #contact .basic {
    margin-left: 150px; }
    #contact .basic .fn {
      font-size: 1.2em;
      font-weight: bold; }
    #contact .basic .org {
      font-style: italic; }
    #contact .basic .org * {
      display: inline; }
  #contact .contact-information {
    margin-top: 30px;
    margin-left: 150px; }
  #contact .contact-information header {
    font-weight: bold; }
  #contact .email .type {
    color: #999;
    display: inline-block;
    font-size: 0.7em;
    text-transform: uppercase;
    width: 80px; }
  #contact .email .value {
    display: inline; }

/* -*- mode:css-*- */
button.action {
  background-image: -webkit-linear-gradient(#dddddd, #cccccc);
  border: solid 1px #aaa;
  border-radius: 5px;
  height: 30px;
  padding: 0 15px; }
  button.action[type="submit"] {
    font-weight: bold; }
  button.action:hover {
    background-image: -webkit-linear-gradient(#eeeeee, #dddddd); }
  button.action:active {
    background-image: -webkit-linear-gradient(#cccccc, #dddddd); }

.error-message {
  font-style: italic;
  color: #333; }

.button-group {
  margin-bottom: 20px; }
  .button-group input[type="submit"], .button-group input[type="button"], .button-group button {
    background-image: -webkit-linear-gradient(#dddddd, #cccccc);
    border: solid 1px #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 0 15px;
    border-radius: 0; }
    .button-group input[type="submit"][type="submit"], .button-group input[type="button"][type="submit"], .button-group button[type="submit"] {
      font-weight: bold; }
    .button-group input[type="submit"]:hover, .button-group input[type="button"]:hover, .button-group button:hover {
      background-image: -webkit-linear-gradient(#eeeeee, #dddddd); }
    .button-group input[type="submit"]:active, .button-group input[type="button"]:active, .button-group button:active {
      background-image: -webkit-linear-gradient(#cccccc, #dddddd); }
    .button-group input[type="submit"]:first-child, .button-group input[type="button"]:first-child, .button-group button:first-child {
      border-radius: 5px 0 0 5px; }
    .button-group input[type="submit"]:last-child, .button-group input[type="button"]:last-child, .button-group button:last-child {
      border-radius: 0 5px 5px 0; }

form .buttons {
  margin-bottom: 20px; }
  form .buttons input[type="submit"], form .buttons input[type="button"], form .buttons button {
    background-image: -webkit-linear-gradient(#dddddd, #cccccc);
    border: solid 1px #aaa;
    border-radius: 5px;
    height: 30px;
    padding: 0 15px;
    border-radius: 0; }
    form .buttons input[type="submit"][type="submit"], form .buttons input[type="button"][type="submit"], form .buttons button[type="submit"] {
      font-weight: bold; }
    form .buttons input[type="submit"]:hover, form .buttons input[type="button"]:hover, form .buttons button:hover {
      background-image: -webkit-linear-gradient(#eeeeee, #dddddd); }
    form .buttons input[type="submit"]:active, form .buttons input[type="button"]:active, form .buttons button:active {
      background-image: -webkit-linear-gradient(#cccccc, #dddddd); }
    form .buttons input[type="submit"]:first-child, form .buttons input[type="button"]:first-child, form .buttons button:first-child {
      border-radius: 5px 0 0 5px; }
    form .buttons input[type="submit"]:last-child, form .buttons input[type="button"]:last-child, form .buttons button:last-child {
      border-radius: 0 5px 5px 0; }
form .input {
  max-width: 350px;
  padding: 5px; }
  form .input .errors {
    color: red;
    font-size: 10px;
    position: absolute; }
  form .input label {
    color: #333;
    display: block;
    font-size: 12px;
    font-style: italic; }
  form .input.has-error input {
    border-color: red; }
  form .input input {
    border: solid 1px #333;
    width: 198px; }
  form .input.short input {
    width: 98px; }
  form .input.typed {
    clear: left; }
    form .input.typed .input {
      float: left;
      padding: 0; }
    form .input.typed a {
      display: block;
      float: left;
      line-height: 15px;
      padding: 3px; }
    form .input.typed a.add {
      display: none; }
    form .input.typed:last-child a.add {
      display: block; }
