/* -*- mode:css-*- */

form {

    .buttons {
	margin-bottom: 20px;

	input[type="submit"], input[type="button"] {
	    border: solid 1px #ccc;
	    height: 30px;
	    padding: 0 5px;

	    &:first-child {
		border-radius: 5px 0 0 5px;
	    }

	    &:last-child {
		border-radius: 0 5px 5px 0;
	    }
	}
    }

    .input {
	max-width: 350px;
	padding: 5px;

	label {
	    color: #333;
	    display: block;
	    font-size: 12px;
	    font-style: italic;
	}

	input {
	    border: solid 1px #333;
	    width: 198px;
	}

	&.short input {
	    width: 98px;
	}

	&.typed {
	    clear: left;

	    .input {
		float: left;
		padding: 0;
	    }

	    a {
		display: block;
		float: left;
		line-height: 15px;
		padding: 3px;
	    }

	    a.add {
		display: none;
	    }

	    &:last-child {
		a.add {
		    display: block;
		}
	    }
	}
    }
}