
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#wrapper {
    overflow: hidden;
}

#content-header {
    background: #222;
    background-image: -moz-linear-gradient(top, #444, #222);
    background-image: -webkit-linear-gradient(top, #444, #222);
    background-image: linear-gradient(top, #444, #222);
    border-bottom: solid 1px #333;
    color: #ddd;
    font-size: 1.4em;
    line-height: 50px;
    padding-left: 20px;
    padding-top: 5px;
    position: relative;
    z-index: 40;
}

#contacts {
    background: #ddd;
    box-shadow: 6px 0px 4px -4px black;
    color: #777;
    margin-top: -10px;
    min-height: 404px;
    padding-top: 20px;
    position: relative;
    width: 20%;
    z-index: 30;
}

#contacts .search {
    margin: auto;
    width: 100%;
}

#contacts .search input[type="text"] {
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: 5px 6px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 5px 10px 5px 30px;
    width: 170px;
}

#contacts .search input[type="submit"] {
    display: none;
}

#contacts .row {
    border-top: solid 1px white;
    border-bottom: solid 1px #999;
    line-height: 45px;
    padding: 5px 0 5px 20px;
}

#contacts .row:first-child {
    border-top: none;
}

#contacts .row:last-child {
    border-bottom: none;
}

#contacts .row.active {
    font-weight: bold;
}

#contacts .row .icon {
    background: white;
    border: solid 1px #333;
    height: 32px;
    margin-right: 8px;
    padding: 3px;
    vertical-align: middle;
    width: 32px;
}

#contacts .row a:hover, #contacts .row.active a {
    color: #333;
}

#contact {
    background: white;
    left: 20%;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
    top: 55px;
    width: 80%;
}

#contact .picture {
    background: white;
    border: solid 1px #333;
    float: left;
    padding: 5px;
    
}

#contact .basic {
    margin-left: 150px;
}

#contact .basic .fn {
    font-size: 1.2em;
    font-weight: bold;
}

#contact .basic .org {
    font-style: italic;
}

#contact .basic .org * {
    display: inline;
}

#contact .contact-information {
    margin-top: 30px;
    margin-left: 150px;
}

#contact .contact-information header  {
    font-weight: bold;
}

#contact .email .type {
    color: #999;
    display: inline-block;
    font-size: 0.7em;
    text-transform: uppercase;
    width: 40px;
}

#contact .email .value {
    display: inline;
}

